@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Mono',
    monospace !important;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('./assets/fonts/Segoe-UI-Font/SEGOEUI.TTF');
}

.ff_segoe {
  font-family: 'Segoe UI' !important;
}

/* LOADING-PAGE */
.spinner {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 180px;
  height: 180px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-radius: 10px;
  height: 20px;
  width: 167px;
  background-color: transparent;
  border: 4.167px solid #FFFFFF;
  border-radius: 10px;
}

.loader::after {
  content: "";
  display: block;
  border-radius: 10px;
  height: 13px;
  width: 0%;
  background-color: #105BAC;
  animation: load 2s ease-in-out infinite;

}

@keyframes load {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

/* hero */

.sidebar_data.open {
  right: 0;

}

